<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>This is <%= @action %></p>

<p>The Selected User <%= @user.first_name %> <%= @user.last_name %>, has an id of <%= @user.id %></p>